# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Covid19 automation test.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../:\nothingInteresting\FusionSchoolCovid19TestsSys\.idea\.idea.Covid19 automation test\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
